In [1]:
!wget https://raw.githubusercontent.com/codebasics/py/master/pandas/2_dataframe_basics/weather_data.csv

--2022-03-11 10:42:51--  https://raw.githubusercontent.com/codebasics/py/master/pandas/2_dataframe_basics/weather_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 155 [text/plain]
Saving to: ‘weather_data.csv’

weather_data.csv    100%[===================>]     155  --.-KB/s    in 0s

2022-03-11 10:42:51 (4.40 MB/s) - ‘weather_data.csv’ saved [155/155]

In [2]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.shape

(6, 4)

In [4]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [6]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [7]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [9]:
 type(df['event'])

pandas.core.series.Series

In [15]:
df.drop(['event','day'],axis=1)

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [16]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [17]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [18]:
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [22]:
df.set_index('day',inplace=True)

In [23]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [24]:
type(df.index)

pandas.core.indexes.base.Index

In [28]:
type(df.loc['1/2/2017'][1])

numpy.int64

In [29]:
df.reset_index(inplace=True)

In [30]:
df.index

RangeIndex(start=0, stop=6, step=1)